{% extends 'base.html.twig' %}

{% block title %}Main Page{% endblock %}

{% block body %}

    <div class="container">
        <br><br>
        <h2>List of Tests</h2>
        <br>
        {% for exam in exams %}
            <div class="card">
                <div class="card-body">
                    <div>Title: {{ exam.title }}</div><br>

                    <div class="row">
                        <a href="{{ path('passExam', {'exam':exam.id}) }}" class="col-3">
                            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Pass</button>
                        </a>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}

    </div>
{% endblock %}
